$games: 4;
$learnMore-bg: #CBB03F;
$playNow-bg: #68A621;
$liveGames-blue: #134086;
$liveGames-darkBlue: #072D66;
$liveGames-night: #010C23;

$buttonFontSize-screen: 1.2rem;
$buttonLineHeight-screen: 7vh;

body{
  overflow-x: hidden;
  margin: 0;
  font-family: "Josefin Sans";
  font-size: 16px;
  color: #fff;
  background: #000;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
.paragraph{
  font-family: "Open Sans";
  font-size: 1rem;
}
.paragraph:nth-child(2) {
  padding-top: 2rem;
}
.main-block-header{
  margin: 0;
  font-size: 2.5vw;
  padding: 4rem 0 0;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}
// fucking youtube styles
.video-background {
    margin: auto;
    display: block;
    width: 100%;
    z-index: 0;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
.video-foreground:first-of-type {
  position: fixed;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }

// end of fucking youtube styles
.home{
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  &__video{
    margin: auto;
    display: block;
    width: 100%;
    z-index: 0;
  }
  &__overlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    height: 100vh;
    width: 100%;
    &-nav{
      margin-top: 20px;
      display: flex;
      align-items: center;
      padding-left: 4%;
      &_logo{
        display: inline-block;
        height: 75px;
        width: 66px;
        background: url("../img/logo.svg");
        vertical-align: middle;
      }
      &-menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        width: 26%;
        &_li{
          display: inline-block;
          a{
            position: relative;
            text-decoration: none;
            color: #fff;
            opacity: 0.75;
            font-size: 1.3rem;
            font-weight: bold;
            transition: .375s all ease-in-out;
            &:hover{
              opacity: 1;
              &:after {
                opacity: 1;
                transform: translateY(0px);
                transition: .375s all ease-in-out;
              }
            }
            &:after{
              position: absolute;
              content: “”;
              bottom: -5px;
              width: 100%;
              background: #fff;
              height: 2px;
              opacity: 0;
              transform: translateY(3px);
              transition: .375s all ease-in-out;
            }
          }
        }
      }
    }
    &-text{
      margin-bottom: 10vh;
      margin-left: 4%;
      &_p{
        font-size: 2rem;
        margin: 0;
        margin-top: 1rem;
        font-weight: bold;
      }
      &_p:nth-of-type(2) {
        margin: 0;
        font-weight: bold;
        font-size: 1.5rem;
      }
      &_header {
        display: inline-block;
        vertical-align: bottom;
        margin: 0;
        margin-left: 20px;
        font-size: 4rem;
      }
    }
  }
}

.about-us{
  position: relative;
  height: 100vh;
  background-size: 250px 300px;
  text-align: center;
  &__text{
    background: rgba(7,45,102,.80);
    padding-bottom: 70px;
    &_p{
      display: inline-block;
      margin: 0 auto 50px;
      font-size: 1.5rem;
      padding-top: 3rem;
      margin: 0;
      width: 60%;
    }
  }
}

.our-games{
  min-height: 1%;
  overflow-y: visible;
  position: relative;
  background: #001D4B;
  &__p {
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.5rem;
    margin: 0;
  }
  &__header{
    padding: 0;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  &__info{
    padding: 0;
    background-size: 100% 100%;
    .our-games__container {
        display: flex;
        justify-content: space-around;
        align-items: bottom;
        background: none;
        padding: 70px 0 50px 2vw;
        .swiper-slide{
          height: 270px;
          position: relative;
          display: inline-block;
          text-decoration: none;
          background-size: 100% 100%;
          z-index: 1;
          img{
            height: 270px;
          }
          .game_text{
            position: absolute;
            top: 40px; left: 70px;
            display: inline-block;
            text-align: right;
            width: 50px;
            .game_header{
              color: gold;
              margin: 0;
            }
            .game_p{
              margin: 0;
              color: #4ad6db;
              font-weight: bold;
            }
          }
        }
        .swiper-slide{
          transition: transform 2s;
          img{
            transition: box-shadow 2s;
          }
        }
        .swiper-slide-active{
          z-index: 10;
          transform: scale(1.15);
          img{
              box-shadow: 0 0 50px $liveGames-blue;
          }
        }
      }
    }
  }

.over-under{
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  &__video{
    display: block;
    margin: -75px auto 0;
    height: auto;
    width: 100%;
    padding: 0;
  }
  &__overlay{
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    top: 0px; left: 0;
    background: rgba(11,33,61, .6);
    z-index: 10;
    text-align: center;
    &-text{
      display: inline-block;
      margin-top: 15%;
      opacity: 1;
      &_p{
        margin: 0 0 10px;
      }
      &-buttons{
        margin: 20px 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: $buttonFontSize-screen;
        line-height: $buttonLineHeight-screen;
        &_learn,&_play{
          width: 49%;
          color: #fff;
          text-decoration: none;
          cursor: pointer;
          transition: .375s all ease-in-out;
        }
        &_learn{
          background: $learnMore-bg;
          &:hover {
            background-color: darken($learnMore-bg, 7%);
            transition: .375s all ease-in-out;
          }
        }
        &_play{
          background: $playNow-bg;
          &:hover {
            background-color: lighten($playNow-bg, 7%);
            transition: .375s all ease-in-out;
          }
        }
      }
    }
  }
}

.tombala{
  height: auto;
  overflow-y: visible;
  background: url("../img/tombala_bg.jpg");
  background-size: 100% 100%;
  &__container{
    height: auto;
    width: 70%;
    padding: 0 0 70px;
    &-wrapper{
      .tombala__slide{
        padding: 0 0 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .tombala__slide-header{
          display: block !important;
          min-height: 50px;
          padding-bottom: 3rem;
        }
        .tombala__slide-info{
          background: rgb(29,29,29);
          margin: 0;
          font-size: 1rem;
          text-align: center;
          width: 100%;
          .tombala__slide_video{
            width: 100%;
            height: 564px;
          }
          .tombala__slide-info_play{
            display: inline-block;
            margin: 3vh 0;
            width: 30%;
            color: #fff;
            text-align: center;
            text-decoration: none;
            background: $playNow-bg;
            transition: .375s all ease-in-out;
            font-size: $buttonFontSize-screen;
            line-height: $buttonLineHeight-screen;
            &:hover {
              background-color: lighten($playNow-bg, 7%);
              transition: .375s all ease-in-out;
            }
          }
        }
      }
    }
  }
  .swiper-pagination{
    top: 94%;
  }
  .swiper-pagination-bullet{
    width: 15px;
    border-radius: 5px;
    background: #fff;
  }
  .swiper-pagination-bullet-active{
    width: 35px;
    opacity: 0.8;
  }
}

.partners-benefits{
  height: auto;
  min-height: 657px;
  overflow: hidden;
  background: $liveGames-blue;
  &__header{
    margin-bottom: 65px;
  }
  &__container{
    margin: 20px auto 0;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    .partners-benefits_benefit{
      display: inline-block;
      text-align: left;
      margin-bottom: 50px;
      width: 50%;
      &-img{
        display: inline-block;
        width: 8vh;
        height: 7vh;
      }
      &-header{
        font-size: 1.15rem;
        text-transform: uppercase;
      }
      &-info{
        width: 70%;
        text-align: left;
      }
    }
    .partners-benefits_benefit{
      .partners-benefits_benefit-img{
        transition: 0.575s all ease;
      }
    }
    .partners-benefits_benefit:hover{
      .partners-benefits_benefit-img{
        transform: scale(1.2);
      }
    }
  }

  #benefit_group-1{
    @for $i from 1 through 3{
      .partners-benefits_benefit:nth-child(#{$i}){
        .partners-benefits_benefit-img{
          background: url("../img/benefit-"+$i+".svg") no-repeat;
          background-size: 90% 100%;
        }
        @if $i == 3{
          .partners-benefits_benefit-img{
            background-size: 100% 100%;
          }
        }
      }
    }
  }
  #benefit_group-2{
    @for $i from 1 through 3{
      .partners-benefits_benefit:nth-child(#{$i}){
        .partners-benefits_benefit-img{
          background: url("../img/benefit-"+($i+3)+".svg") no-repeat;
          background-size: 90% 100%;
        }
      }
    }
  }
}

.partners {
  height: 60vh;
  text-align: center;
  padding-bottom: 4rem;
  background: #fff;
  &__h3 {
    text-transform: uppercase;
    font-size: 2.5vw;
    margin: 0;
    padding-top: 3rem;
    color: #000;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    max-width: 100%;
    padding-top: 1.5rem;
    &-block {
      display:flex;
      align-items: center;
      justify-content: center;
      width: 33.3%;
      img {
          max-width: 16vw;
          height: auto;
          width: auto;
      }
    }
  }

}

.career {
  height: auto;
  width: 100%;
  background: #134086;
  color: #fff;
  &-h3 {
    font-size: 2.5vw;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    padding-top: 4rem;
    letter-spacing: 3px;
    font-weight: bold;
    margin-bottom: 65px;
  }
  &__content {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    &-block {
      width: 50%;
      overflow: hidden;
      img {
        transition: 0.575s all ease;
        max-width: 100%;
        height: auto;
        width: auto;
        transform-origin: center;
        transform: scale(1,1);
      }
      &:hover{
        & img{
         transform: scale(1.05, 1.05);
        }
      }
      p {
        font-family: "Open Sans", sans-serif;
        font-size: 1.3vw;
        vertical-align: middle;
        padding: 0 5rem 0 1rem;
        width: 70%;
        line-height: 2rem;
      }
      a {
        text-decoration: none;
      }
      button {
        display: inline-block;
        margin: 5rem 0 0 1rem;
        width: 30%;        
        padding: 15px 0;
        background: $playNow-bg;
        color: #fff;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        font-size: $buttonFontSize-screen;
        transition: .375s all ease-in-out;
        font-family: "Josefin Sans";
        &:hover {
          background-color: lighten($playNow-bg, 7%);
          transition: .375s all ease-in-out;
        }
      }
    }
    &-block:nth-child(2) {
      padding: 5rem 2rem 0 2rem;
    }
  }
}

// &__content {
//   padding-top: 3rem;
//   font-size: 3vw;
//   &-block {
//     p {
//       font-size: 2.5vw;
//       padding: 0 5rem 0 1rem;
//       margin-top: 0;
//     }
//     button {
//       margin-top: 2.3rem;
//       margin-left: 1rem;
//     }
//   }
//   &-block:nth-child(2) {
//     padding: 0rem 2rem 0 2rem;
//   }
// }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 100%;
  background: #05142A;
  z-index: 2;
  &__logo {
    width: 20%;
  }
  &__social-icons {
    display: flex;
    justify-content: space-between;
    width: 17%;
    margin-top: 2rem;
    .icon {
      font-size: 3rem;
      color: #fff;
      opacity:  .75;
      transition: .375s all ease-in-out;
      &:hover {
        opacity:  1;
        transition: .375s all ease-in-out;
      }
    }
  }
  &__copyrigth {
    margin-top: 2rem;
    font-size: 1.05rem;
    color: #fff;
  }
}

@import "mobile.scss";
