$games: 5;
$overUnder-learnMore-bg: #CBB03F;
$overUnder-playNow-bg: #68A621;
body{
  margin: 0;
  font-family: "Secular One";
  font-size: 16px;
  color: #fff;
}

.home{
  height: 100vh;
  background: #000;;
  background-image: url('../img/home_bg.jpg');
  background-size: 100% 100%;
  &__video{
    height: 115vh;
    width: 100%;
  }
  &__overlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0; left: 0;
    padding-left: 4%;
    padding-bottom: 5vh;
    height: 110.8vh;
    width: 96%;
    background: rgba(0,0,0,.6);
    &-nav{
      height: 94px;
      display: flex;
      align-items: center;
      &_logo{
        display: inline-block;
        height: 75px;
        width: 66px;
        background: url("../img/logo.svg")
      }
      &-menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 7%;
        padding: 0;
        min-width: 26%;
        &_li{
          display: inline-block;
          a{
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
}

.about-us{
  height: 75vh;
  background: #134086 url("../img/about_bg.png") 90% 100% no-repeat;
  background-size: 30% 80%;
  text-align: center;
  &__text{
    display: inline-block;
    margin-top: 8%;
    width: 60%;
    &_header{
      font-size: 3rem;
      margin-bottom: 6%;
    }
    &_p{
      font-size: 1.3rem;
    }
  }
}

.our-games{
  &__header{
    margin: 0;
    padding: 7vh 0;
    background: #000;
    font-size: 3rem;
    text-align: center;
  }
  .our-games__container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: #000 url("../img/games_bg.jpg");
      z-index: -5;
      &_button {
          float: left;
          font-size: 4rem;
          cursor: pointer;
      }
      &-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          width: 100%;
          &_list {
              width: 90%;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 25rem;
              .box {
                margin: 0;
                width: 50%;
                height: 20rem;
                box-shadow: 0px 0px 2rem 0px #888888;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
              }
              .box:nth-child(2n) {
                transform: scale(0.85);
                z-index: 1;
              }
              .box:nth-child(4n + 1) {
                transform: scale(0.75);
                z-index: 0;
              }
              .box:nth-child(1) {
                left: 15%;
              }
              .box:nth-child(2) {
                left: 5%;
              }
              .box:nth-child(3) {
                z-index: 2;
              }
              .box:nth-child(4) {
                left: -5%;
              }
              .box:nth-child(5) {
                left: -15%;
              }
              .box--hide {
                  display: none;
              }
              @for $i from 1 through $games{
                #game-#{$i}{
                  background: url("../img/game-"+$i+".jpg");
                  background-size: 100% 100%;
                }
              }
          }
      }
  }
}
.move-out-from-left {
    animation: moveOutLeft 0.5s ease-in-out;
}

.move-out-from-right {
    animation: moveOutRight 0.5s ease-in-out;
}

.move-to-position5-from-left {
    animation: moveToP5Left 0.5s ease-in-out;
}

.move-to-position4-from-left {
    animation: moveToP4Left 0.5s ease-in-out;
}

.move-to-position3-from-left {
    animation: moveToP3Left 0.5s ease-in-out;
}

.move-to-position2-from-left {
    animation: moveToP2Left 0.5s ease-in-out;
}


.move-to-position1-from-left{
    animation: moveToP1Left 0.5s ease-in-out;
}

.move-to-position5-from-right{
    animation: moveToP5Right 0.5s ease-in-out;
}
.move-to-position4-from-right{
    animation: moveToP4Right 0.5s ease-in-out;
}
.move-to-position3-from-right{
    animation: moveToP3Right 0.5s ease-in-out;
}
.move-to-position2-from-right{
    animation: moveToP2Right 0.5s ease-in-out;
}
.move-to-position1-from-right{
    animation: moveToP1Right 0.5s ease-in-out;
}

@keyframes moveOutLeft {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }
    50% {
        transform: scale(0.5) translateX(-150%);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}

@keyframes moveOutRight {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }
    50% {
        transform: scale(0.5) translateX(150%);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}
@keyframes moveToP5Left {
    from {
        transform: scale(0.75) translateX(100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}
@keyframes moveToP4Left {
    from {
        transform: scale(0.75) translateX(100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}
@keyframes moveToP3Left {
    from {
        transform: scale(0.85) translateX(100%);
    }
    to {
        transform: scale(1) translateX(0);
    }
}
@keyframes moveToP2Left {
    from {
        transform: scale(1) translateX(100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}
@keyframes moveToP1Left {
    from {
        transform: scale(0.85) translateX(100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}
@keyframes moveToP1Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}
@keyframes moveToP2Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}
@keyframes moveToP3Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }
    to {
        transform: scale(1) translateX(0);
    }
}
@keyframes moveToP4Right {
    from {
        transform: scale(1) translateX(-100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}
@keyframes moveToP5Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}

.over-under{
  position: relative;
  &__video{
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
  }
  &__overlay{
    position: absolute;
    height: 113vh;
    width: 100%;
    top: 0;
    background: rgba(11,33,61, 0.5);
    z-index: 10;
    text-align: center;
    &-text{
      display: inline-block;
      margin-top: 18%;
      &_header{

      }
      &_p{

      }
      &-buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        button{
          height: 7vh;
          width: 49%;
          color: #fff;
          font-weight: bold;
          font-size: 1rem;
          border: none;
        }
        &_learn{
          background: $overUnder-learnMore-bg;
        }
        &_play{
          background: $overUnder-playNow-bg;
        }
      }
    }
  }
}
// .about-us{
//   height: 753px;
//   background: #134086;
// }

.partners {
  height: 60vh;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  &__h3 {
    text-transform: uppercase;
    font-size: 2.5vw;
    margin-top: 0;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    max-width: 100%;
    &-block {
      display:flex;
      align-items: center;
      justify-content: center;
      width: 33.3%;
      img {
          max-width: 12vw;
          height: auto;
          width: auto;
      }
    }
  }

}

.career {
  height: 100vh;
  width: 100%;
  background: #134086;
  color: #fff;
  &-h3 {
    font-size: 2.5vw;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    padding-top: 3rem;
    letter-spacing: 3px;
    font-weight: normal;
  }
  &__content {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    &-block {
      width: 50%;
      img {
        max-width: 100%;
        height: auto;
        width: auto
      }
      p {
        font-family: 'Heebo', sans-serif;
        font-size: 1.5vw;
        vertical-align: middle;
      }
      button {
        display: block;
        margin: 0 auto;
        margin-top: 5rem;
        padding: 15px 5rem;
        background: #68A621;
        color: #fff;
        font-size: 1.5vw;
        text-transform: uppercase;
        border: none;
        font-weight: bold;
      }
    }
    &-block:nth-child(2) {
      padding: 5rem 2rem 0 2rem;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 100%;
  background: #05142A;
  &__logo {
    width: 20%;
  }
  &__social-icons {
    display: flex;
    justify-content: space-between;
    width: 17%;
    margin-top: 2rem;
    .icon {
      width: 20%;
      height: 25%;
    }
  }
  &__copyrigth {
    margin-top: 2rem;
    font-size: 1.05rem;
    color: #fff;
  }
}
