$games: 4;
$overUnder-learnMore-bg: #CBB03F;
$overUnder-playNow-bg: #68A621;
$liveGames-blue: #134086;
$liveGames-darkBlue: #072D66;
$liveGames-night: #010C23;

@media only screen and (min-width: 1600px) {
  .career {
    height: 100vh;
  }
}

@media only screen and (min-width: 770px) and (max-width: 1200px) {
  body{
    width: 100vw;
    margin: 0;
    font-family: "Josefin Sans";
    font-size: 16px;
    color: #fff;
    background: #000;
    overflow-x: hidden;
  }
  .paragraph{
    font-family: "Open Sans";
    font-size: 1rem;
  }
  .main-block-header{
     margin: 0;
     font-size: 3rem;
     line-height: 10vw;
     text-align: center;
     text-transform: uppercase;
  }
  .home{
    height: 85vh;
    &__overlay{
      &-nav{
        &-menu{
          width: 50%;
          &_li{
            margin: 0 2%;
          }
        }
      }
      &-text{
        margin-bottom: 5vh;
      }
    }
  }
  .about-us{
    &_background{
      position: absolute;
      top: 10vh; left: 62%;
      height: 250px;
      width: 230px;
      background: url("../img/about_bg.svg") no-repeat;
      background-size: 100% 100%;
      opacity: 0.2;
    }
    &__text{
      display: inline-block;
      margin-top: 3%;
      width: 80%;
      &_p{
        font-size: 1.3rem;
      }
    }
  }

  .our-games{
    height: 430px;
    overflow-y: visible;
    position: relative;
    background: $liveGames-darkBlue;
    &__header{
      background: none;
      line-height: 15vh;
    }
    &__info{
      padding: 1vh 0 10vh;
      background-image: none;
      .our-games__container {
        height: 230px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .swiper-slide{
          height: 250px;
          display: inline-block;
          text-decoration: none;
          .game_text{
            display: inline-block;
            margin: 10% 0 0 8%;
            text-align: right;
            width: 30%;
          }
        }
      }
    }
    .swiper-pagination{
      top: 260px;
    }
  }
  .over-under{
    height: 500px;
    &__overlay{
      &-text{
        margin-top: 180px;
        width: 40%;
        &_header{
          margin: 0;
          font-size: 2rem;
        }
        &_p{
          margin: 0;
          width: 100%;
          font-size: 1rem;
        }
        &-buttons{
          margin: 10px 0 0;
          &_learn, &_play{
            line-height: 6vh;
          }
        }
      }
    }
  }

  .tombala{
    height: 650px;
    &__container{
      height:500px;
      &-wrapper{
        .tombala__slide{
          height:400px;
        }
      }
    }
    .swiper-pagination{
      top: 450px;
    }
  }
  .career {
    height: 60vh;
    &-h3 {
      padding-top: 3rem;
    }
  }
  .mobile-landscape {
    height: 100vh;
    &__content {
      padding-top: 1.5rem;
      .button {
        padding-top: 0;
      }
      .paragraph {
        line-height: 1.5rem;
      }
    }
  }
}
//TABLETS
@media only screen and (min-width: 481px) and (max-width: 769px) {
    body{
      background: $liveGames-blue;
    }
    .paragraph{
      font-family: "Open Sans";
      font-size: 0.8rem;
      margin: 0;
    }
    .main-block-header{
      font-size: 2rem;
    }

    .home{
      height: 65vh;
      &__overlay{
        margin: 0;
        &-nav{
          height: 50px;
          &_logo{
            height: 30px;
            width: 25px;
            background-size: 100% 100%;
          }
          &-menu{
            width: 60%;
          }
        }
        &-text{
          &_header{
            font-size: 1rem;
          }
        }
      }
    }

    .about-us{
      height: 400px;
      &_background{
        top: 70%; left: 60%;
        height: 20vh;
        width: 17vh;
      }
      &__text{
        margin-top: 13%;
        width: 70%;
      }
    }

    .our-games{
      height: 430px;
      overflow-y: visible;
      position: relative;
      background: $liveGames-darkBlue;
      &__header{
        background: none;
        line-height: 15vh;
      }
      &__info{
        padding: 1vh 0 10vh;
        background-image: none;
        .our-games__container {
          height: 250px;
          .swiper-slide{
            height: 250px;
            display: inline-block;
            text-decoration: none;
            .game_text{
              display: inline-block;
              margin: 10% 0 0 8%;
              text-align: right;
              width: 30%;
            }
          }
        }
      }
      .swiper-pagination{
        top: 270px;
      }
    }

    .over-under{
      background: $liveGames-night;
      height: 400px;
      &__overlay{
        &-text{
          margin-top: 150px;
          width: 60%;
          &_header{
            font-size: 1rem;
          }
          &_p{
            margin: auto;
            width: 80%;
            font-size: 1rem;
          }
          &-buttons{
            &_learn, &_play{
              margin-top: 2vh;
            }
          }
        }
      }
    }

    .tombala{
      height: 700px;
      .mobile_invisible-info{
        display: none;
      }
      &__header{
        line-height: 15vh;
      }
      &__container{
        height: 500px;
        width: 90%;
        padding: 10px 0;
        &-wrapper{
          .tombala__slide{
            height: 500px;
            flex-direction: column;
            justify-content: center;
            .tombala__slide_video{
              margin-top: 50px;
              width: 60%;
            }
            .tombala__slide-info{
              width: 90%;
              text-align: center;
              &_header{
                margin: 0;
                font-size: 1rem;
              }
              &_p{
                margin: 10px auto;
                width: 80%;
                font-size: 0.7rem;
              }
              &_play{
                display: inline-block;
                line-height: 3vh;
                font-size: 0.8rem;
              }
            }
          }
        }
        .swiper-pagination{
          top: 280px;
        }
      }
    }

    .partners-benefits{
      padding: 0 0 5vh;
      #benefit_group-1{
        margin: 0 0 0 5%;
        float: left;
      }
      #benefit_group-2{
        margin: 150px 5% 0 0;
        float: right;
      }
      &__header{
        line-height: 17vh;
      }
      &__container{
        width: 40%;
        flex-wrap: wrap;
        .partners-benefits_benefit{
          width: 100%;
          margin-bottom: 100px;
          &-header{
            font-size: 1rem;
            width: 100%;
          }
          &-info{
            width: 100%;
          }
        }
        .partners-benefits_benefit:last-child{
          margin-bottom: 0;
        }
      }
    }
  .career {
    height: 50vh;
    &__content {
      padding-top: 3rem;
      font-size: 2vw;
      &-block {
        p {
          font-size: 2vw;
          margin:0;
          line-height: 1.5rem;
        }
        button {
          margin-top: 1.5rem;
        }
      }
      &-block:nth-child(2) {
        padding-top: 1rem;
      }
    }
  }
  .footer {
    height: 50vh;
    &__logo {
      width: 35%;
    }
    &__social-icons {
      width: 25%;
      .icon {
        width: 20%;
        height: 25%;
        .social-icon {
          max-width: 45px;
        }
      }
    }
  }
  .mobile-landscape {
    height: 100vh;
    &__content {
      padding-top: 1.5rem;
      .career__content-block:nth-child(2) {
        padding-top: .5rem;
      }
      .paragraph {
        line-height: 1.5rem;
      }
    }

  }
}
//MOBILES
@media only screen and (max-width: 480px) {
  body{
    background: $liveGames-blue;
    width: 100vw;
    overflow-x: hidden;
  }
  .paragraph{
    font-family: "Open Sans";
    font-size: 0.8rem;
  }
  .main-block-header{
    line-height: 10vh;
    font-size: 1.3rem;
  }

  .home{
    height: 250px;
    background: url("../img/videos/home_bg.jpg") center no-repeat;
    background-size: 100% 100%;
    &__video{
      display: none;
    }
    &__overlay{
      &-nav{
        &_logo{
          height: 30px;
          width: 27px;
          background-size: 100% 100%;
        }
        &-menu{
          width: 80%;
          &_li{
            a{
              font-size: 1rem;
            }
          }
        }
      }
      &-text{
        margin-bottom: 2vh;
        &_header{
          font-size: 1rem;
        }
        &_p{
          line-height: 1vh;
        }
      }
    }
  }

  .about-us{
    height: 250px;
    &_background{
      top: 35%; left: 60%;
      height: 20vh;
      width: 17vh;
    }
    &__text{
      margin: 0;
      width: 70%;
      &_p{
        font-size: 0.7rem;
      }
    }
  }

  .our-games{
    background: $liveGames-darkBlue;
    height: 50vh;
    overflow-y: visible;
    position: relative;
    &__header{
      background: none;
    }
    &__info{
      padding: 0 0 10vh;
      background-image: none;
      .our-games__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 35vh;
        background: none;
        padding-bottom: 50px;
        .swiper-slide{
          display: inline-block;
          text-decoration: none;
          .game_text{
            display: inline-block;
            margin: 10% 0 0 8%;
            text-align: right;
            width: 30%;
          }
        }
      }
    }
    .swiper-pagination{
      top: 36vh;
    }
  }

  .over-under{
    height: 60vh;
    background: url("../img/videos/ou_bg.jpg") center no-repeat;
    background-size: auto 100%;
    &__video{
      display: none;
    }
    &__overlay{
      &-text{
        margin-top: 155px;
        &_header{
          font-size: 1rem;
        }
        &_p{
          margin: auto;
          width: 80%;
          font-size: 0.6rem;
        }
        &-buttons{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          &_learn, &_play{
            line-height: 10vh;
          }
        }
      }
    }
  }

  .tombala{
    height: 600px;
    .mobile_invisible-info{
      display: none;
    }
    &__header{
      line-height: 15vh;
    }
    &__container{
      height:400px;
      width: 90%;
      padding: 10px 0;
      &-wrapper{
        .tombala__slide{
          height: 400px;
          flex-direction: column;
          justify-content: center;
          .tombala__slide_video{
            width: 90%;
          }
          .tombala__slide-info{
            width: 90%;
            text-align: center;
            &_header{
              margin: 0;
              font-size: 1rem;
            }
            &_p{
              margin: 10px auto;
              width: 80%;
              font-size: 0.8rem;
            }
            &_play{
              display: inline-block;
              line-height: 3vh;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
    .swiper-pagination{
      top: 45%;
    }
  }

  .partners-benefits{
    padding: 1vh 0 5vh;
    #benefit_group-1{
      margin: 0 0 0 5%;
      float: left;

    }
    #benefit_group-2{
      margin: 25vh 5% 0 0;
      float: left;
    }
    &__container{
      width: 45%;
      flex-wrap: wrap;
      .partners-benefits_benefit{
        width: 100%;
        margin-bottom: 100px;
        &-img{
          height: 16vh;
          width: 18vh;
        }
        &-header{
          font-size: 1rem;
          width: 100%;
        }
        &-info{
          width: 100%;
        }
      }
      .partners-benefits_benefit:last-child{
        margin-bottom: 0;
      }
    }
  }

  .partners {
    padding-bottom: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    &__h3 {
      font-size: 1.3rem;
      padding-top: 2.5rem;
    }
    &__container {
      padding-top: 0;
      &-block {
        img {
          max-width: 25vw;
        }
      }
    }
  }
  .career {
    height: 55vh;
    &-h3 {
      font-size: 1.3rem;
      padding-top: 2.5rem;
    }
    &__content {
      padding-top: 1rem;
      &-block {
        width: 100%;
        p {
          font-size: 4vw;
          width: 80%;
          margin: 0 auto;
          padding: 0rem 1rem 0 1rem;
          line-height: 1.5rem;
        }
        button {
          font-size: 3vw;
          width:80%;
          margin: 0 auto;
          margin-top: 1rem;
          padding: 15px 3rem;
        }
      }
      &-block:nth-child(1) {
        display: none;
      }
      &-block:nth-child(2) {
        padding-top: 1rem;
      }
    }
  }

  .footer {
    height: 45vh;
    &__copyrigth {
      font-size: .9rem;
    }
    &__logo {
      width: 45%;
    }
    &__social-icons {
      width: 40%;
      .icon {
        width: 20%;
        height: 25%;
        .social-icon {
          max-width: 40px;
        }
      }
    }
  }
}
