@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .career {
    &__content {
      padding-top: 12rem;
      font-size: 2vw;
      &-block {
        p {
          font-size: 2vw;
        }
        button {
          margin-top: 3rem;
        }
      }
    }
  }
  .footer {
    &__social-icons {
      width: 22%;
      .icon {
        width: 20%;
        height: 25%;
        .social-icon {
          max-width: 50px;
        }
      }
    }
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .career {
    height: 80vh;
    &__content {
      padding-top: 12rem;
      font-size: 2vw;
      &-block {
        p {
          font-size: 2vw;
        }
        button {
          margin-top: 2.5rem;
        }
      }
      &-block:nth-child(2) {
        padding-top: 1rem;
      }
    }
  }
  .footer {
    &__logo {
      width: 35%;
    }
    &__social-icons {
      width: 25%;
      .icon {
        width: 20%;
        height: 25%;
        .social-icon {
          max-width: 45px;
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .partners {
    padding-bottom: 0;
    &__container {
      &-block {
        img {
          max-width: 20vw;
        }
      }
    }
  }
  .career {
    height: 60vh;
    &__content {
      &-block {
        width: 100%;
        p {
          font-size: 4vw;
        }
        button {
          margin-top: 2.5rem;
          font-size: 3vw;
        }
      }
      &-block:nth-child(1) {
        display: none;
      }
      &-block:nth-child(2) {
        padding-top: 2rem;
      }
    }
  }
  .footer {
    &__logo {
      width: 45%;
    }
    &__social-icons {
      width: 40%;
      .icon {
        width: 20%;
        height: 25%;
        .social-icon {
          max-width: 40px;
        }
      }
    }
  }
}